.home .hero {
  padding: 20px;
  background-image:url(/town.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  -moz-background-size:cover;
  background-size:cover;
  margin-top:20px;
}

.home .hero h1 {
  color: #fff;
}

.home .hero .description {
  color: #fff !important;
}

.home .hero img {
  border: 5px solid #fff;
  border-radius: 30px;
}

.navbar,
.navbar .links {
  background: #DFE6F5 !important;
}